name: CI
on: [push, pull_request]

jobs:
  tests:
    name: Unit tests
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "^1.14.0"
      - name: Build sources
        run: |
          go version
          go build
      - name: Run tests
        run: go test -v -race -coverprofile=coverage.txt -covermode=atomic ./src
      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v1
